* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1140px;
    margin: 0 auto;
    background-color: rgb(245, 248, 255);

}


/* shared classes */
.orange {
    color: rgba(233, 90, 8, 1);
}

.black {
    color: rgba(0, 0, 0, 1);
}

.gray {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    font-family: Inter;
}

.btn-primary {
    width: 100%;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px;
    margin-top: 30px;
    transition: 0.5s;
}

.btn-primary:hover {
    background-color: rgba(191, 146, 120, 1);
}


/* nav start */
.nav-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-family: Inter;
    height: 71px;
}

.nav_links {
    /* border: 1px solid rgb(219, 211, 211); */
    border-radius: 20px;
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.nav_links a {
    text-decoration: none;
}

.nav-a {
    display: block;
    display: flex;
    gap: 48px;
}

.home-anchor {
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}

.shop-anchor {
    font-weight: 400;
    color: rgba(137, 135, 161, 1);
}

.nav-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* banner section start */
.banner-container {
    height: 461px;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    align-items: end;
    font-family: Noto Serif;
}

.banner-rigth-title {
    font-size: 4rem;
    font-weight: bold;

}

.banner-right-description {

    margin-top: 13px;

}

/* banner section end */
/* <!-- plant section start from here --> */
.plant-container {}

.plant-content {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.plant-title {
    font-family: Noto serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.plant-card-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.plant-card {
    width: 270px;
    text-align: center;
    font-family: Inter;

}

.plant-card img {
    margin-bottom: 30px;
}

.plant-card h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 10px;
}

.plant-card h4 {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
}


/* plant section end */
/* plants lover section start */
.plant-lover-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 200px;
    margin-bottom: 130px;
    position: relative;
}

.challenge-badge img {
    width: 286px;
    height: 286px;
    position: absolute;
    top: -120px;
    right: 500px;
    display: block;
}

/* plants lover section end */
/* latest deals section start */
.letest-deal-content {
    margin-bottom: 125px;
}

.latest-deal-challenges-part {
    display: flex;

    height: 423px;
    gap: 28px;
    margin-bottom: 120px;
}

.challenges-left {
    width: 30%;

}

.challenges-left-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-bloom.png);
    height: 200px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Noto Serif;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;


}

.challenges-left-1,
.challenges-left-2 span {
    text-decoration: underline;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

.challenges-left-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-ana.png);
    height: 200px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Noto Serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;

}

.challenges-right {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;

}

.challenges-right-1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Noto Serif;
    justify-content: center;
    align-items: center;

}

.challenges-right-1 span {
    text-decoration: underline;
    font-family: Inter;
    font-size: 1.75rem;
    font-weight: 600;
}
/* latest deal end */
/* join section */
.join-section-container{
    background-image:linear-gradient(rgba(7, 51, 79, 0.4)), url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.join-section-content{
    width: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.join-section-title{
    font-family: Noto Serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.join-section-mail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 830px;
    /* border: 2px solid yellow; */
    

}
.join-section-mail input{
    flex: 1;
    max-width: 644px;
    height: 50px;
    padding: 8px 20px;


}
.join-section-mail button{
    width: 30%;
    height: 50px;
    margin-bottom: 30px;
}










@media screen and (max-width: 768px) {
    .nav-container {
        width: 80%;
        margin: 28px auto;
    }

    .nav-a {
        display: none;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin-bottom: 65px;
    }

    .banner-left {
        margin-bottom: 28px;
    }

    .plant-card-parent {
        grid-template-columns: repeat(2, 1fr);

    }

    .plant-lover-section {
        flex-direction: column;
    }

    .challenge-badge img {
        display: none;
    }


    .latest-deal-challenges-part {
        flex-direction: column;
    }

    .challenges-right {
        width: 30%;
        
    }
   






}