* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0px auto;
    background-color: rgb(245, 248, 255);

}

header {
    max-width: 1140px;
    margin: 0px auto;
}

main {
    max-width: 1140px;
    margin: 0px auto;
}

/* shared classes */
.orange {
    color: rgba(233, 90, 8, 1);
}

.black {
    color: rgba(0, 0, 0, 1);
}

.gray {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    font-family: Inter;
}

.btn-primary {
    width: 100%;
    height: 50px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px;
    margin-top: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgba(191, 146, 120, 1);
}


/* nav start */
.nav-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-family: Inter;
    height: 71px;
}

.nav-logo img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.nav_links {
    /* border: 1px solid rgb(219, 211, 211); */
    border-radius: 20px;
    padding: 22px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.nav_links a {
    text-decoration: none;
}

.nav-a {
    display: block;
    display: flex;
    gap: 48px;
}

.home-anchor {
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}

.shop-anchor {
    font-weight: 400;
    color: rgba(137, 135, 161, 1);
}

.nav-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* banner section start */
.banner-container {
    height: 461px;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    align-items: end;
    font-family: Noto Serif;
}

.banner-left-title {
    font-size: 4rem;
    font-weight: bold;

}

.banner-left-description {
    margin-top: 13px;

}


/* banner section end */
/* <!-- plant section start from here --> */
.plant-container {}

.plant-content {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.plant-title {
    font-family: Noto serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.plant-card-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.plant-card {
    width: 270px;
    text-align: center;
    font-family: Inter;

}

.plant-card img {
    margin-bottom: 30px;
}

.plant-card h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 10px;
}

.plant-card h4 {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
}


/* plant section end */
/* plants lover section start */
.plant-lover-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 200px;
    margin-bottom: 130px;
    position: relative;
}

.challenge-badge img {
    width: 286px;
    height: 286px;
    position: absolute;
    top: -120px;
    right: 500px;
    display: block;
}

.test {
    margin: 20px 0px;
}

/* plants lover section end */
/* latest deals section start */
.letest-deal-content {
    margin-bottom: 125px;
}

.latest-deal-challenges-part {
    display: flex;

    height: 423px;
    gap: 28px;
    margin-bottom: 120px;
}

.challenges-left {
    width: 30%;

}

.challenges-left-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-bloom.png);
    height: 200px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Noto Serif;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;


}

.challenges-left-1 span,
.challenges-left-2 span {
    text-decoration: underline;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

.challenges-left-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-ana.png);
    height: 200px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Noto Serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;

}

.challenges-right {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;

}

.challenges-right-1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Noto Serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.challenges-right-1 span {
    text-decoration: underline;
    font-family: Inter;
    font-size: 1.75rem;
    font-weight: 600;
}

/* latest deal end */
/* join section */
.join-section-container {
    background-image: linear-gradient(rgba(7, 51, 79, 0.4)), url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.join-section-content {
    width: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.join-section-title {
    font-family: Noto Serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.join-section-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 830px;
    /* border: 2px solid yellow; */


}

.join-section-mail input {
    flex: 1;
    max-width: 644px;
    height: 50px;
    padding: 8px 20px;


}

.join-section-mail button {
    width: 30%;
    height: 50px;
    margin-bottom: 30px;
}

/* join section end */
/* footer */
.footer {
    height: 350px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 300px;
}

.footer a {
    font-family: Inter;
    text-decoration: none;
    font-weight: 400;
    color: rgba(107, 114, 128, 1);
}

.footer-home-links,
.footer-features-links {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-icons {
    width: 200px;
    height: 36px;
    display: flex;
    gap: 24px;

}

.display {
    display: none;
}








@media screen and (max-width: 576px) {

    /* shared */
    .gray {
        font-size: 14px;
    }

    /* navbar start */
    .nav-container {
        min-width: 361px;
        height: 38px;
        margin: 20px 16px;

    }

    .nav-logo img {
        width: 63px;
        background-size: cover;
    }

    .nav-a {
        display: none;
    }

    /* navbar end */

    /* Banner start */
    .banner-container {
        margin-top: 8px;
        margin-bottom: 65px;
        width: 100%;
        display: flex;
        gap: 28px;
        flex-direction: column-reverse;
    }

    .banner-left {
        margin: 0px 16px;
    }

    .banner-left-title {
        width: 250px;
        font-size: 24px;
    }

    .banner-left-description {
        font-size: 14px;
    }

    .banner-right {
        width: 100%;
        height: 245px;
    }

    .banner-img {
        width: 100%;
        height: 100%;
        background-size: contain;
    }

    /* banner end */

    .plant-container {
        margin-bottom: 28px;
    }


    .plant-title {
        font-size: 24px;
    }

    .plant-description {
        width: 336px;
        text-align: center;

    }

    .plant-card-parent {
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 16px;
    }

    .plant-card {
        width: 171px;
    }

    .plant-card img {
        width: 100%;
        height: 196px;
    }

    .plant-card h3 {
        font-size: 16px;
        margin-bottom: 2px;
    }

    .plant-card h4 {
        font-size: 16px;
    }

    /* plant lover section start */
    .plant-lover-section {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 42px;
        flex-direction: column;
        gap: 16px;
    }

    .plant-lover-left {
        min-width: 358px;
    }

    .plant-lover-left img {
        width: 100%;
    }

    .test {
        margin: 16px 16px 16px 24px;
    }

    /* plant lover end */

    /* latest deal challages */

    .latest-deal-challenges-part {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .challenges-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .challenges-left-1,
    .challenges-left-2 {
        width: 361px;
        height: 184px;

    }

    .challenges-right {
        width: 361px;
        height: 184px;
    }

    .challenges-right-1 {
        height: 184px;
    }

    .challenges-right-1 p {
        font-size: 20px;
    }

    .challenges-right-1 span {
        margin-top: 12px;
        font-size: 20px;
    }

    /* join section */

    .join-section-container{
        height: 276px;
        background-size: cover;
        background-position: center;
    }

    .join-section-content{
        width: 321px  
    }

    .join-section-title {
        font-size: 20px;
    }

    /* footer */

}